/* @override http://localhost:10101/css/uncompressed/text.css */

body {
	font: 12px/18px Arial, 'Helvetica Neue', 'Liberation Sans', FreeSans, sans-serif;
}

a:focus {
	outline: 1px dotted;
}

hr {
	border: 0 #ccc solid;
	border-top-width: 1px;
	clear: both;
	height: 0;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset {
	margin-bottom: 20px;
}