<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/2015/img/56.ico">

  <title>RED56 in migration</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap3/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/2015/css/cover.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>

<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="masthead clearfix">
      <div class="inner">
        <h3 class="masthead-brand">RED56</h3>
        <nav>
          <ul class="nav masthead-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/people/tim">Tim Diggins</a></li>
            <li><a href="mailto:tim@red56.co.uk">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="cover-container">



      <div class="inner cover">
      {{ content }}
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>
            Apologies for the cobbler's shoes: We're busy moving to new location, bringing on more staff, and supporting our clients.
            But get in contact:
            <a href="mailto:tim@red56.co.uk" rel="me">tim@red56.co.uk</a></li>,
            or read more about
            founder
            <a href="/people/tim">Tim Diggins</a>.</p>
        </div>
      </div>

    </div>

  </div>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="/vendor/jquery.min.js"></script>
  <script src="/vendor/bootstrap.min.js"></script>
  <script src="/vendor/docs.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="/vendor/ie10-viewport-bug-workaround.js"></script>


</body></html>